<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
        Profile Form
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container ">

        <div class="row ">
            <div class="profile-pic">
                <img alt="Profile picture " height="80"
                    src="https://storage.googleapis.com/a1aa/image/ZPIQAD9EhIZBIBJZvkkt5gkySJieJfCtKf17V1xOJJP5rrEoA.jpg"
                    width="80" />
                <i class="fas fa-pen">
                </i>
            </div>


        <form class="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="your-name">
                        Your Name
                    </label>
                    <input class="form-control" id="your-name" type="text" value="Mavin Dee" />
                </div>
                <div class="form-group col-md-6">
                    <label for="user-name">
                        User Name
                    </label>
                    <input class="form-control" id="user-name" type="text" value="Mavindee" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">
                        Email
                    </label>
                    <input class="form-control" id="email" type="email" value="mavindee@gmail.com" />
                </div>
                <div class="form-group col-md-6">
                    <label for="password">
                        Password
                    </label>
                    <input class="form-control" id="password" type="password" value="********" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="dob">
                        Date of Birth
                    </label>
                    <input class="form-control" id="dob" type="text" value="20 January 1995" />
                </div>
                <div class="form-group col-md-6">
                    <label for="present-address">
                        Present Address
                    </label>
                    <input class="form-control" id="present-address" type="text" value="No, 20 ado, mararaba" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="permanent-address">
                        Permanent Address
                    </label>
                    <input class="form-control" id="permanent-address" type="text" value="No, 20 ado, mararaba" />
                </div>
                <div class="form-group col-md-6">
                    <label for="city">
                        City
                    </label>
                    <input class="form-control" id="city" type="text" value="Abuja" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="postal-code">
                        Postal Code
                    </label>
                    <input class="form-control" id="postal-code" type="text" value="345689" />
                </div>
                <div class="form-group col-md-6">
                    <label for="country">
                        Country
                    </label>
                    <input class="form-control" id="country" type="text" value="Nigeria" />
                </div>
            </div><br /><br />
            <button class="btn btn-save" type="submit">
                Save
            </button>
        </form>

        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
</body>

</html>