<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>
        Profile Form
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="container ">

        <div class="row ">
            <div class="profile-pic">
                <img alt="Profile picture " height="80"
                    src="https://storage.googleapis.com/a1aa/image/ZPIQAD9EhIZBIBJZvkkt5gkySJieJfCtKf17V1xOJJP5rrEoA.jpg"
                    width="80" />
                <i class="fas fa-pen">
                </i>
            </div>


            <form class="" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="name">
                            Your Name
                        </label>
                        <input class="form-control" id="name" type="text" formControlName="name" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="username">
                            User Name
                        </label>
                        <input class="form-control" id="username" type="text" formControlName="username" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email">
                            Email
                        </label>
                        <input class="form-control" id="email" type="email" value="mavindee@gmail.com"
                            formControlName="email" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password">
                            Password
                        </label>
                        <input class="form-control" id="password" type="password" value="********"
                            formControlName="password" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="dateofbirth">
                            Date of Birth
                        </label>
                        <input class="form-control" id="dateofbirth" type="text" value="20 January 1995" formControlName="dateofbirth"
                            required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="presentaddress">
                            Present Address
                        </label>
                        <input class="form-control" id="presentaddress" type="text" value="No, 20 ado, mararaba"
                            formControlName="presentaddress" required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="permanentaddress">
                            Permanent Address
                        </label>
                        <input class="form-control" id="permanentaddress" type="text" value="No, 20 ado, mararaba"
                            formControlName="permanentaddress" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="city">
                            City
                        </label>
                        <input class="form-control" id="city" type="text" value="Abuja" formControlName="city"
                            required />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="postalCode">
                            Postal Code
                        </label>
                        <input class="form-control" id="postalCode" type="text" value="345689"
                            formControlName="postalCode" required />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="country">
                            Country
                        </label>
                        <input class="form-control" id="country" type="text" value="Nigeria" formControlName="country"
                            required />
                    </div>
                </div><br /><br />
                <button class="btn btn-save" type="submit">
                    Save
                </button>
            </form>

        </div>

        <h2>Stored Data</h2>
        <div *ngIf="storedData">
            <p><strong>Name:</strong> {{ storedData.name }}</p>
            <p><strong>Email:</strong> {{ storedData.email }}</p>
            <p><strong>Username:</strong> {{ storedData.username }}</p>
            <p><strong>Password:</strong> {{ storedData.password }}</p>
            <p><strong>Dateofbirth:</strong> {{ storedData.dateofbirth }}</p>
            <p><strong>Presentaddress:</strong> {{ storedData.presentaddress }}</p>
            <p><strong>Permanentaddress:</strong> {{ storedData.permanentaddress }}</p>
            
            <p><strong>Postalcode:</strong> {{ storedData.postalCode }}</p>
            <p><strong>Country:</strong> {{ storedData.country }}</p>
            <p><strong>City:</strong> {{ storedData.city }}</p>
            <button (click)="onEdit()">Edit</button>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
</body>

</html>